@mixin text-input-reset {
    margin: 0;
    outline: 0px;
    border: 0;
    padding: 0;
}

@mixin console-text {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}
